*{
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}


.App{
    height: 100%;
    max-width: 100%;
    background-color: rgb(57, 163, 128);
}

.navbar{
    width: 1200px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: auto;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.navbar h1{
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.navbar button {
    padding: 10px 20px;
    border: 0;
    background-color: rgb(186, 33, 46);
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
}


.footer {
    margin-top:400px;
    color: #666;
    text-align: center;
}

.content{
    text-align: center;
    margin-top: 20px;
}

.content h1{
    color: rgb(156, 31, 31);
}


.card {
    width: 60%;
    margin: 30px auto;
}

.card .top {
    background-color:rgb(68, 68, 249);
    border-radius: 5px 5px 0 0;
    color:#000;
    display:  flex;
    justify-content: space-between;
    height: 80px;
}


.card .top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 25px;
    margin-right: 20px;
} 

.card .top h1{
    margin-left: 10px;
    align-self: center;
    font-weight: 700;
}

.card .bottom{
    background-color: blue;
    border-radius: 0 0 5px 5px;
    color: #fff;
}

.card .bottom p{
    margin-left: 10px;
}


.card .bottom .publisher{
    margin-top: 20px;
}


.emojiCards{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.emojiCards .emoji{
    width: 300px;
    background-color: #fff;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}


.emoji h1{
    text-align: center;
    font-size: 40px;
}


.emoji h2{
    color:aquamarine;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.emoji p{
    line-height: 1.5;

}

.emojiSpan{
    background-color:rgb(45, 149, 114);
    margin:auto;
    padding: 10px 20px;
    border-radius: 5px;
}


.emojiSpan h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
    
}


@media (max-width: 600px){
    .App {
        width: 100%;
    }

    .emojiSpan h1{
        font-size: 20px;
        text-align: center;
    }

    .emojiSpan{
       padding: 10px;
    }

    .emojiCards{
        margin: 20px 10px;
    }
}